.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
}

.NavigationItem a{
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: #40A4C8;
}

@media(min-width: 500px){
    .NavigationItem{
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem .sidedrawer{
        color: white; 
        box-sizing: border-box;
        height: 100%;
        padding: 5px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem .sidedrawer:hover,
    .NavigationItem .sidedrawer:active,
    .NavigationItem .sidedrawer.active{
        background-color: #566573;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}