.Title{
    font-weight: bold;
}
.Delete{
    color: red;
}
.Delete:hover {
    color: #000;
    transform: translateY(-7px);
}

.Submit {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    text-align: center;
    display: inline-block;
    text-align: center;
    margin-right: 2%;
    margin-top: 1%;
}

.Submit:hover {
    background-color: #1B4F72;
    box-shadow: 0px 15px 20px rgba(46, 119, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.Submit:active {
    content: "";
    background: #1B4F72;
    position: relative;
    opacity: 0;
    transition: all 0.8s
}

.Submit:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
