
  <h1 class="h3 mb-3 font-weight-normal">PEGASUS</h1>
  <br> <br>
  <h1 class="h3 mb-3 font-weight-normal">Welcome back</h1>
  <p class="font-weight-light">Don't miss your next opportunity. Sign in to stay updated on your professional world.</p>
<form class="form-signin">
  
  <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <br>
  <p>New to Pegasus? <a href="">Join Now</a></p>
</form>
