.Profile{
    
}

.Accordian{
    /* cursor: pointer;
    background-color: aqua; */
}

.Card{

}

.CardHeader {
    cursor: pointer;
    background-color: #FDFEFE;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: #85C1E9;
}

.Active,
.CardHeader:hover {
    cursor: pointer;
    background-color: #34495E ;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: #FDFEFE;
}

.inactive {
    background-color: red;
}

.Frame{
    width: 100vh;
}

.background {
   
}