.ViewProfile {
    margin-top: 15px;
    border: none;
    padding: 0;
    box-shadow: 0px 0px 17px 2px rgb(199, 194, 199);
}

.Company {
    text-align: center;
}

.CompanyInfoBox {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Overview {
    white-space: pre-wrap; 
}