*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.Timeline{
    width: 18rem;
    margin-right: 20px;
}

.TitleIcon{  
    background-color:white;
    /* display: block; */
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    left: 2em;
    width: 1em;
    height: 1em;
    color: #1565C0;
}

.Timeline:before {
    background-color: #1565C0;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1px;
    height: 100%;
}

.Title{
    padding: 5px 0em 0 2.5em;
    color: #1B4F72;
}

.Event{
    position: relative;
    /* background-color: #ef795a; */
    /* display: flex; */
}

.Icon{
    transform: rotate(45deg);
    border: 1px solid;
    border-color: #56A5EC!important;
    background-color: white;
    /* display: block; */
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    left: 2em;
    width: 1em;
    height: 1em;
}

.Body{
    padding: 2em 0em 0 2em;
    position: relative;
    top: -1.875em;
    
}
.Body p{
    margin: 0;
    padding: 0;
}
.Date{
    color: #56A5EC;
    background-color: transparent;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    padding: 0.25em 1em 0.2em 1em;
}