.Title {
    color: #505050;
    font-size: 1.714em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700!important;
}

.Card {
    border-radius: 25px;
    border-color: #5A81F8!important;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    height: 15rem;
}

.Card:hover {
    cursor: pointer;
    box-shadow:  0px 1px 16px 4px rgba(28, 108, 255, 0.925);
    transition: all .4s ease;
}

.Row {
    font-weight: 400;
    padding-left: 15px;
}

.CardCol {
    padding-left: 1.3%;
    font-weight: 400;
}

.Description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    /* word-wrap: break-word; */
}

.Star {
    display: inline-block;
    justify-content: space-between;
    position: relative;
    /* vertical-align: sub; */
    /* position: relative; */
}

.Star:hover,
.Star:active,
.Star:focus {
    color: #FFCA28!important;
}

.Applied {
    /* vertical-align: middle; */
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    border-color: transparent!important;
    background-color: #1565C0!important;
    cursor: not-allowed!important;
}

.Footer {
    flex-direction: row;
    position: relative;
    padding: 0;
    /* padding-top: 20px; */
    height: 18rem!important;
    background-color: #fff;
    border-radius: 0px 0px 25px 25px!important;
    /* border-color: #64B5F6!important; */
}

.StarDiv {
    float: right;
    position: relative;
    right: 8%;
    top: 25%;
}

.ButtonDiv {
    float: right;
    position: relative;
    right: 4%;
    top: 11%;
}