body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}


header{
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color: #333333;
    margin-right: 16px;
    text-decoration: none;
}

footer{
    color: #333333;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}