body{
    color: #333333;
    font-family: arial;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}


footer{
    color: #333333;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

