div.post-job.main{
    max-width: 600px;
}


div.post-job.main div.form-container form div{
    margin-bottom: 8px;
}

#job-description{
    height: 150px;
}

button.post-job-btn{
    max-width: 200px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 100px;
}