.ProjectMM{
    display: flex;
    overflow-y: scroll;
}
.LeftSide {
    min-height: 100vh;
    display: flex;
    background-color:black;
    align-items: center;
    justify-content: center;
}
.RightSide {
    background-color: black;
    color: #fff;
    padding: 0;
}
.RightSideContent {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}