
.Image{
    /* height: 171px;
    width: 180px; */
    border-radius: 50%;
    height: 241px;
    width: 241px;
    object-fit: cover;
}

.CentralContent{
    justify-content: center;    
    text-align: center;
}

.CentralContent:hover{
    cursor: pointer;
}
