.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

main{
  flex-grow: 1;
}

#feed-container {
  margin-top: 5%;
}

#admin-main{
  margin-top: 4%;
}

#btn-logout{
  margin-left: 5px;
}

#navbar-container{
  margin-bottom: 5%;
}

body {
  background-color: #f5f5f5;
}