.Container {
    position: relative;
    /* background-color: lightgreen; */
}

.Title {
    position: relative;
    /* left: 9.5%; */
    display: block;
}

/* .InputLabel {
    position: relative;
    display: inline-block;
    width: 120px;
    padding-left: 9.5%!important;
}
*/

.formControl {
    min-width: 120px!important;
} 

.Select {
    min-width: 120;
    /* padding-left: 9.5%!important; */
    display: inline-block;
}