div.main{
    max-width: 700px;
}

#pegasus-tag{
    text-decoration: none;
    color: #262322;
}

div.job-experience input{
    height: 150px;
}

select#usertype {
    margin-bottom: 15px;
    border: solid 1px grey;
    max-width: 200px;
}

button.create-account{
    max-width: 250px;
    margin: auto;
}

#btn-group-container {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 18px;
    max-width: 250px;
}

#usertype-label {
    margin-right: 10px;
}