.Container {
    margin: 0 0;
    padding: 0 0;
    /* min-width: 1140px!important; */
} 

.Row {
    font-weight: 400;
    padding-left: 15px;
}

.Title {
    color: #505050;
    font-size: 1.714em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700!important;
}

.Card {
    border-radius: 25px;
    border-color: #82E3B1!important;
    margin-top: 20px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

.Card:hover {
    cursor: pointer;
    box-shadow:  0px 1px 16px 4px rgba(30, 236, 140, 0.925);
    transition: all .4s ease;
}

.CardBody {
    top: 1%;
    right: 1%;
    left: 1%;
    bottom: 1%;
    position: relative;
    /* width: '100vh' */
}

.Row {
    font-weight: 400;
    padding-left: 15px;
}

@media only screen and (max-width: 768px) {
    /* For everything bigger than 768px */
    .Card {
        border-radius: 25px;
    }

    .Row {
        font-size: 70%;
    }

    .CardBody {
        top: 1%;
        right: 1%;
        left: 1%;
        bottom: 1%;
        position: relative;
    }
}