<!DOCTYPE html>
<html>
    {{>head}}
    <link rel="stylesheet" href="/css/signin.css">
    <body class="text-center">

        <div class="col">
            {{>signin}}
        </div>

    </body>
</html>